{% extends '::base.html.twig' %}
{% block titulo %}
Agregar Categoria
{% endblock %}

{% block body -%}
    <form action="{{ path('categoria_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categoria') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
